@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  /* background-color: #a0ced9; */
  background-color: #ffcdb2;
  /* position: fixed; */
  width: 100vw;
  opacity: 90%;
  z-index: 9999;
}

.navbar-link {
  list-style: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.nav-button {
  text-decoration: none;
  color: black;
}
.navbar-icons1 {
  margin-left: 20px;
}
.navbar-icons2 {
  margin-left: 40px;
}
.navbar-icons3 {
  margin-left: 20px;
}
.navbar-icons4 {
  margin-left: 40px;
}
.navbar-icons5 {
  margin-left: 20px;
}
.product-image {
  width: 100%;
  height: 300px;
}
.item {
  width: 400px;
  margin: 2%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  /* border: 1px solid grey; */
}
#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5%;
  /* margin-left: 70px; */
  width: 100%;
}
.name {
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  font-size: 30px;
  margin-left: 10px;
}
.description {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}

.price {
  font-family: "Amatic SC", cursive;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 10px;
}
.card-btn {
  padding: 5px;
  font-family: "Amatic SC", cursive;
  font-size: 22px;
  font-weight: bolder;
  background-color: #ffcdb2;
  border: 1px solid black;
  margin-left: 10px;
}
.card-btn:hover {
  background: white;
  color: black;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

#cart {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  top: 0;
  right: -100vw;
  z-index: 1;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#cart.active {
  box-shadow: 3px 3px 3px 3px rgba(0.5, 0.0, 0.5, 0.5);
  right: 0;
  width: 20%;
  background-color: antiquewhite;
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  font-size: 30px;
}
.close-btn{
  border-radius: 100%;
  padding: 5px 10px;
  background-color: antiquewhite;
  border-color: black 1px solid ;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1000px) {
}
